Importing and Cleaning Data

In [6]:
#Importing pandas and display techniques

import pandas as pd
from IPython.display import display

In [12]:
movies_metadata = pd.read_csv(".\movies_metadata.csv", low_memory=False)
keywords = pd.read_csv(".\keywords.csv", low_memory=False)
cast = pd.read_csv (".\credits.csv", low_memory=False)

In [13]:
#Removing columns

movies_metadata = movies_metadata.drop(['adult', 'popularity','belongs_to_collection', 'imdb_id', 'runtime','homepage', 'production_companies', 'original_language','spoken_languages', 'original_title', 'overview', 'poster_path', 'production_countries', 'tagline', 'video' ], axis=1)
cast = cast.drop(['crew'], axis=1)
#Filtering out incomplete data for movies_metadata

movies_metadata = movies_metadata[movies_metadata['movie budget']!='0']
movies_metadata = movies_metadata[movies_metadata['vote_average']!=0]
movies_metadata = movies_metadata[movies_metadata['revenue']!=0]
movies_metadata = movies_metadata[movies_metadata['status']=='Released']

#Filtering out incomplete data for keywords

keywords = keywords[keywords['keywords']!='[]']

#Filtering out incomplete data for cast
cast = cast[cast['cast']!='[]']

#Re-establishing data types as int

movies_metadata['revenue'] = movies_metadata['revenue'].astype(int)
movies_metadata['id'] = movies_metadata['id'].astype(int)
keywords['id'] = keywords['id'].astype(int)

display(movies_metadata)

,movie budget,genres,id,release_date,revenue,status,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,30/10/1995,373554033,Released,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,15/12/1995,262797249,Released,Jumanji,6.9,2413.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,22/12/1995,81452156,Released,Waiting to Exhale,6.1,34.0
5,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,15/12/1995,187436818,Released,Heat,7.7,1886.0
8,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091,22/12/1995,64350171,Released,Sudden Death,5.5,174.0
9,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,16/11/1995,352194034,Released,GoldenEye,6.6,1194.0
10,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9087,17/11/1995,107879496,Released,The American President,6.5,199.0
13,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",10858,22/12/1995,13681765,Released,Nixon,7.1,72.0
14,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,22/12/1995,10017322,Released,Cutthroat Island,5.7,137.0
15,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524,22/11/1995,116112375,Released,Casino,7.8,1343.0
16,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584,13/12/1995,135000000,Released,Sense and Sensibility,7.2,364.0
17,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,09/12/1995,4300000,Released,Four Rooms,6.5,539.0
18,30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273,10/11/1995,212385533,Released,Ace Ventura: When Nature Calls,6.1,1128.0
19,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517,21/11/1995,35431113,Released,Money Train,5.4,224.0
20,30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",8012,20/10/1995,115101622,Released,Get Shorty,6.4,305.0
22,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9691,06/10/1995,30303072,Released,Assassins,6.0,394.0
24,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",451,27/10/1995,49800000,Released,Leaving Las Vegas,7.1,365.0
26,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9263,20/10/1995,27400000,Released,Now and Then,6.6,91.0
28,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902,16/05/1995,1738611,Released,The City of Lost Children,7.6,308.0
31,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",63,29/12/1995,168840000,Released,Twelve Monkeys,7.4,2470.0
33,30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",9598,18/07/1995,254134910,Released,Babe,6.0,756.0
35,11000000,"[{'id': 18, 'name': 'Drama'}]",687,29/12/1995,39363635,Released,Dead Man Walking,7.3,350.0
43,18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",9312,18/08/1995,122195920,Released,Mortal Kombat,5.4,452.0
44,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",577,20/05/1995,21284514,Released,To Die For,6.7,177.0
45,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",11861,06/10/1995,23574130,Released,How To Make An American Quilt,6.5,38.0
46,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",807,22/09/1995,327311859,Released,Se7en,8.1,5915.0
47,55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",10530,14/06/1995,346079773,Released,Pocahontas,6.7,1509.0
49,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",629,19/07/1995,23341568,Released,The Usual Suspects,8.1,3334.0
51,15000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11448,13/09/1995,6700000,Released,Mighty Aphrodite,6.7,145.0
68,3500000,"[{'id': 35, 'name': 'Comedy'}]",10634,26/04/1995,28215918,Released,Friday,7.0,513.0
...,...,...,...,...,...,...,...,...,...
44140,3000000,"[{'id': 35, 'name': 'Comedy'}]",52891,18/09/2008,9713500,Released,Hitler's Kaput!,3.6,7.0
44152,2500000,[],69976,06/05/2010,1477030,Released,Glukhar v kino,5.9,4.0
44166,4000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",100791,15/03/2012,9938268,Released,That still Karloson!,3.5,6.0
44249,82000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",43228,19/06/1957,2000000,Released,I Was a Teenage Werewolf,5.2,12.0
44274,152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",281338,11/07/2017,369907963,Released,War for the Planet of the Apes,6.7,1675.0
44282,21000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",293768,04/08/2017,24527158,Released,Kidnap,6.0,244.0
44337,197471676,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",339964,20/07/2017,90024292,Released,Valerian and the City of a Thousand Planets,6.7,905.0
44383,7000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",272610,17/04/2014,855450,Released,Black Rose,2.0,6.0
44426,7400000,"[{'id': 10769, 'name': 'Foreign'}, {'id': 53, ...",66526,07/11/1999,22000000,Released,Mudhalvan,6.3,6.0
44428,2000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",72663,03/07/2008,273137,Released,Nirvana,4.7,5.0
44557,10000000,"[{'id': 10752, 'name': 'War'}, {'id': 28, 'nam...",326011,20/02/2015,7547762,Released,The Battalion,5.9,6.0
44580,5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",8453,26/05/2006,22175908,Released,Fanaa,6.7,53.0
44632,30000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",341013,26/07/2017,90007945,Released,Atomic Blonde,6.1,748.0
44678,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",374720,19/07/2017,519876949,Released,Dunkirk,7.5,2712.0
44711,8500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",14570,03/05/1985,5730596,Released,Gymkata,4.7,14.0
44791,8520000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",434119,18/01/2017,56100000,Released,Confidential Assignment,6.2,5.0
44821,16000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",10991,08/07/2000,68411275,Released,Pokémon: Spell of the Unknown,6.0,144.0
44842,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",335988,21/06/2017,604942143,Released,Transformers: The Last Knight,6.2,1440.0
44848,2000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",159447,27/12/2012,11666088,Released,"Mommies, Happy New Year!",5.3,9.0
44850,2000000,"[{'id': 35, 'name': 'Comedy'}]",75438,21/07/2011,8000000,Released,Pregnant,3.1,7.0
44856,3000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",57701,03/02/2011,1957000,Released,On the Hook!,4.7,3.0
44970,2196531,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",26147,30/12/2005,2411594,Released,FC Venus,5.6,10.0
45014,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",353491,03/08/2017,71000000,Released,The Dark Tower,5.7,688.0
45139,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",378236,28/07/2017,66913939,Released,The Emoji Movie,5.8,327.0
45167,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",395834,03/08/2017,184770205,Released,Wind River,7.4,181.0
45250,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",24049,14/06/2007,19000000,Released,Sivaji: The Boss,6.9,25.0
45399,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",280422,05/06/2014,3,Released,All at Once,6.0,4.0
45409,800000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",62757,23/11/2006,1328612,Released,Savages,5.8,6.0
45412,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",63281,30/09/2010,1268793,Released,Pro Lyuboff,4.0,3.0
45422,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",63898,06/09/2007,1413000,Released,Antidur,1.0,1.0

In [19]:
#Merging the 2 data frames into 1
movies_keywords = keywords.merge(movies_metadata, left_on='id', right_on='id')
movies_keywords

,id,keywords,movie budget,genres,release_date,revenue,status,title,vote_average,vote_count
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30/10/1995,373554033,Released,Toy Story,7.7,5415.0
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",15/12/1995,262797249,Released,Jumanji,6.9,2413.0
2,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",22/12/1995,81452156,Released,Waiting to Exhale,6.1,34.0
3,949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",15/12/1995,187436818,Released,Heat,7.7,1886.0
4,9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...",35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",22/12/1995,64350171,Released,Sudden Death,5.5,174.0
5,710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",16/11/1995,352194034,Released,GoldenEye,6.6,1194.0
6,9087,"[{'id': 833, 'name': 'white house'}, {'id': 84...",62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",17/11/1995,107879496,Released,The American President,6.5,199.0
7,10858,"[{'id': 840, 'name': 'usa president'}, {'id': ...",44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",22/12/1995,13681765,Released,Nixon,7.1,72.0
8,1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...",98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",22/12/1995,10017322,Released,Cutthroat Island,5.7,137.0
9,524,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...",52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",22/11/1995,116112375,Released,Casino,7.8,1343.0
10,4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...",16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",13/12/1995,135000000,Released,Sense and Sensibility,7.2,364.0
11,5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...",4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",09/12/1995,4300000,Released,Four Rooms,6.5,539.0
12,9273,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",10/11/1995,212385533,Released,Ace Ventura: When Nature Calls,6.1,1128.0
13,11517,"[{'id': 380, 'name': 'brother brother relation...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",21/11/1995,35431113,Released,Money Train,5.4,224.0
14,8012,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",20/10/1995,115101622,Released,Get Shorty,6.4,305.0
15,9691,"[{'id': 271, 'name': 'competition'}, {'id': 44...",50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",06/10/1995,30303072,Released,Assassins,6.0,394.0
16,451,"[{'id': 30, 'name': 'individual'}, {'id': 549,...",3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",27/10/1995,49800000,Released,Leaving Las Vegas,7.1,365.0
17,9263,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, '...",12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",20/10/1995,27400000,Released,Now and Then,6.6,91.0
18,902,"[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...",18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",16/05/1995,1738611,Released,The City of Lost Children,7.6,308.0
19,63,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...",29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",29/12/1995,168840000,Released,Twelve Monkeys,7.4,2470.0
20,9598,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",18/07/1995,254134910,Released,Babe,6.0,756.0
21,687,"[{'id': 378, 'name': 'prison'}, {'id': 570, 'n...",11000000,"[{'id': 18, 'name': 'Drama'}]",29/12/1995,39363635,Released,Dead Man Walking,7.3,350.0
22,9312,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",18/08/1995,122195920,Released,Mortal Kombat,5.4,452.0
23,577,"[{'id': 596, 'name': 'adultery'}, {'id': 1442,...",20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",20/05/1995,21284514,Released,To Die For,6.7,177.0
24,11861,"[{'id': 1334, 'name': 'wedding vows'}, {'id': ...",10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",06/10/1995,23574130,Released,How To Make An American Quilt,6.5,38.0
25,807,"[{'id': 476, 'name': 'self-fulfilling prophecy...",33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",22/09/1995,327311859,Released,Se7en,8.1,5915.0
26,10530,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",14/06/1995,346079773,Released,Pocahontas,6.7,1509.0
27,629,"[{'id': 3703, 'name': 'law'}, {'id': 5493, 'na...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",19/07/1995,23341568,Released,The Usual Suspects,8.1,3334.0
28,11448,"[{'id': 549, 'name': 'prostitute'}, {'id': 239...",15000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",13/09/1995,6700000,Released,Mighty Aphrodite,6.7,145.0
29,10634,"[{'id': 897, 'name': 'rap music'}, {'id': 970,...",3500000,"[{'id': 35, 'name': 'Comedy'}]",26/04/1995,28215918,Released,Friday,7.0,513.0
...,...,...,...,...,...,...,...,...,...,...
5048,443319,"[{'id': 163053, 'name': 'found footage'}]",2800000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",21/04/2017,3600000,Released,Phoenix Forgotten,5.7,52.0
5049,333384,"[{'id': 2679, 'name': 'artist'}, {'id': 5301, ...",916000,"[{'id': 18, 'name': 'Drama'}]",28/04/2017,2403885,Released,Lowriders,7.0,20.0
5050,30593,"[{'id': 293, 'name': 'female nudity'}, {'id': ...",950000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",08/08/1973,1500000,Released,Heavy Traffic,6.6,18.0
5051,220002,"[{'id': 4498, 'name': 'big family'}, {'id': 10...",65700,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",07/09/1975,214600,Released,Bizim Aile,7.5,2.0
5052,350312,"[{'id': 4152, 'name': 'kingdom'}, {'id': 23708...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",27/04/2017,230000000,Released,Baahubali 2: The Conclusion,6.7,161.0
5053,14395,"[{'id': 596, 'name': 'adultery'}, {'id': 34094...",7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",11/08/2006,17000000,Released,Kabhi Alvida Naa Kehna,6.1,45.0
5054,399019,"[{'id': 11518, 'name': 'sexual tension'}, {'id...",10500000,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",23/06/2017,25442939,Released,The Beguiled,5.8,279.0
5055,339403,"[{'id': 642, 'name': 'robbery'}, {'id': 2076, ...",34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",28/06/2017,224511319,Released,Baby Driver,7.2,2083.0
5056,397422,"[{'id': 416, 'name': 'miami'}, {'id': 10123, '...",20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",15/06/2017,45056771,Released,Rough Night,5.6,336.0
5057,395452,"[{'id': 18330, 'name': 'nature'}, {'id': 19074...",3500000,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",15/06/2016,1492523,Released,In the Forests of Siberia,7.3,34.0
5058,20148,"[{'id': 10183, 'name': 'independent film'}]",2000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",14/05/2003,33700,Released,Cowboys & Angels,5.9,10.0
5059,260522,"[{'id': 3419, 'name': 'fanatic'}, {'id': 10330...",2153912,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",27/02/2014,4864560,Released,Easy on the Eyes,3.9,5.0
5060,324852,"[{'id': 190999, 'name': 'minions'}]",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",15/06/2017,1020063384,Released,Despicable Me 3,6.2,2002.0
5061,333667,"[{'id': 953, 'name': 'guitar'}, {'id': 2487, '...",60000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",08/07/2016,9420546,Released,Rock Dog,5.8,47.0
5062,375867,"[{'id': 187056, 'name': 'woman director'}]",5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",12/09/2016,6700000,Released,Paris Can Wait,6.4,25.0
5063,43228,"[{'id': 1706, 'name': 'experiment'}, {'id': 10...",82000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",19/06/1957,2000000,Released,I Was a Teenage Werewolf,5.2,12.0
5064,281338,"[{'id': 818, 'name': 'based on novel'}, {'id':...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",11/07/2017,369907963,Released,War for the Planet of the Apes,6.7,1675.0
5065,293768,"[{'id': 456, 'name': 'mother'}, {'id': 641, 'n...",21000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",04/08/2017,24527158,Released,Kidnap,6.0,244.0
5066,339964,"[{'id': 1370, 'name': 'shapeshifting'}, {'id':...",197471676,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",20/07/2017,90024292,Released,Valerian and the City of a Thousand Planets,6.7,905.0
5067,8453,"[{'id': 1741, 'name': 'blindness and impaired ...",5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",26/05/2006,22175908,Released,Fanaa,6.7,53.0
5068,341013,"[{'id': 220, 'name': 'berlin'}, {'id': 470, 'n...",30000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",26/07/2017,90007945,Released,Atomic Blonde,6.1,748.0
5069,374720,"[{'id': 254, 'name': 'france'}, {'id': 966, 'n...",100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",19/07/2017,519876949,Released,Dunkirk,7.5,2712.0
5070,14570,"[{'id': 780, 'name': 'kung fu'}, {'id': 3436, ...",8500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",03/05/1985,5730596,Released,Gymkata,4.7,14.0
5071,335988,"[{'id': 10466, 'name': 'knight'}, {'id': 10607...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",21/06/2017,604942143,Released,Transformers: The Last Knight,6.2,1440.0
5072,26147,"[{'id': 6075, 'name': 'sport'}, {'id': 10556, ...",2196531,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",30/12/2005,2411594,Released,FC Venus,5.6,10.0
5073,353491,"[{'id': 75, 'name': 'gunslinger'}, {'id': 818,...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",03/08/2017,71000000,Released,The Dark Tower,5.7,688.0
5074,378236,"[{'id': 207468, 'name': 'app'}, {'id': 229979,...",50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",28/07/2017,66913939,Released,The Emoji Movie,5.8,327.0
5075,395834,"[{'id': 570, 'name': 'rape'}, {'id': 1262, 'na...",11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",03/08/2017,184770205,Released,Wind River,7.4,181.0
5076,24049,"[{'id': 5969, 'name': 'black money'}, {'id': 1...",12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",14/06/2007,19000000,Released,Sivaji: The Boss,6.9,25.0
5077,280422,"[{'id': 642, 'name': 'robbery'}, {'id': 231149...",750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",05/06/2014,3,Released,All at Once,6.0,4.0

In [73]:
movies_keywords_cast = cast.merge(movies_keywords, left_on='id', right_on='id')
movies_keywords_cast = movies_keywords_cast.set_index('title')
movies_keywords_cast

,cast,id,keywords,movie budget,genres,release_date,revenue,status,vote_average,vote_count
title,,,,,,,,,,
Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30/10/1995,373554033,Released,7.7,5415.0
Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...",8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",15/12/1995,262797249,Released,6.9,2413.0
Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...",31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",22/12/1995,81452156,Released,6.1,34.0
Heat,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...",949,"[{'id': 642, 'name': 'robbery'}, {'id': 703, '...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",15/12/1995,187436818,Released,7.7,1886.0
Sudden Death,"[{'cast_id': 1, 'character': 'Darren Francis T...",9091,"[{'id': 949, 'name': 'terrorist'}, {'id': 1562...",35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",22/12/1995,64350171,Released,5.5,174.0
GoldenEye,"[{'cast_id': 1, 'character': 'James Bond', 'cr...",710,"[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",16/11/1995,352194034,Released,6.6,1194.0
The American President,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...",9087,"[{'id': 833, 'name': 'white house'}, {'id': 84...",62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",17/11/1995,107879496,Released,6.5,199.0
Nixon,"[{'cast_id': 1, 'character': 'Richard Nixon', ...",10858,"[{'id': 840, 'name': 'usa president'}, {'id': ...",44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",22/12/1995,13681765,Released,7.1,72.0
Cutthroat Island,"[{'cast_id': 1, 'character': 'Morgan Adams', '...",1408,"[{'id': 911, 'name': 'exotic island'}, {'id': ...",98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",22/12/1995,10017322,Released,5.7,137.0
Casino,"[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...",524,"[{'id': 383, 'name': 'poker'}, {'id': 726, 'na...",52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",22/11/1995,116112375,Released,7.8,1343.0
Sense and Sensibility,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...",4584,"[{'id': 420, 'name': 'bowling'}, {'id': 818, '...",16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",13/12/1995,135000000,Released,7.2,364.0
Four Rooms,"[{'cast_id': 42, 'character': 'Ted the Bellhop...",5,"[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...",4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",09/12/1995,4300000,Released,6.5,539.0
Ace Ventura: When Nature Calls,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...",9273,"[{'id': 409, 'name': 'africa'}, {'id': 1551, '...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",10/11/1995,212385533,Released,6.1,1128.0
Money Train,"[{'cast_id': 1, 'character': 'John', 'credit_i...",11517,"[{'id': 380, 'name': 'brother brother relation...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",21/11/1995,35431113,Released,5.4,224.0
Get Shorty,"[{'cast_id': 1, 'character': 'Chili Palmer', '...",8012,"[{'id': 395, 'name': 'gambling'}, {'id': 416, ...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",20/10/1995,115101622,Released,6.4,305.0
Assassins,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...",9691,"[{'id': 271, 'name': 'competition'}, {'id': 44...",50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",06/10/1995,30303072,Released,6.0,394.0
Leaving Las Vegas,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...",451,"[{'id': 30, 'name': 'individual'}, {'id': 549,...",3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",27/10/1995,49800000,Released,7.1,365.0
Now and Then,"[{'cast_id': 9, 'character': 'Young Roberta Ma...",9263,"[{'id': 1228, 'name': '1970s'}, {'id': 5248, '...",12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",20/10/1995,27400000,Released,6.6,91.0
The City of Lost Children,"[{'cast_id': 24, 'character': 'One', 'credit_i...",902,"[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...",18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",16/05/1995,1738611,Released,7.6,308.0
Twelve Monkeys,"[{'cast_id': 41, 'character': 'James Cole', 'c...",63,"[{'id': 222, 'name': 'schizophrenia'}, {'id': ...",29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",29/12/1995,168840000,Released,7.4,2470.0
Babe,"[{'cast_id': 1, 'character': 'Babe the Gallant...",9598,"[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",18/07/1995,254134910,Released,6.0,756.0
Dead Man Walking,"[{'cast_id': 7, 'character': 'Sister Helen Pre...",687,"[{'id': 378, 'name': 'prison'}, {'id': 570, 'n...",11000000,"[{'id': 18, 'name': 'Drama'}]",29/12/1995,39363635,Released,7.3,350.0
Mortal Kombat,"[{'cast_id': 1, 'character': 'Lord Rayden', 'c...",9312,"[{'id': 779, 'name': 'martial arts'}, {'id': 1...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",18/08/1995,122195920,Released,5.4,452.0
To Die For,"[{'cast_id': 4, 'character': 'Suzanne Stone Ma...",577,"[{'id': 596, 'name': 'adultery'}, {'id': 1442,...",20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",20/05/1995,21284514,Released,6.7,177.0
How To Make An American Quilt,"[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...",11861,"[{'id': 1334, 'name': 'wedding vows'}, {'id': ...",10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",06/10/1995,23574130,Released,6.5,38.0
Se7en,"[{'cast_id': 17, 'character': 'Detective David...",807,"[{'id': 476, 'name': 'self-fulfilling prophecy...",33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",22/09/1995,327311859,Released,8.1,5915.0
Pocahontas,"[{'cast_id': 1, 'character': 'Pocahontas (voic...",10530,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",14/06/1995,346079773,Released,6.7,1509.0
The Usual Suspects,"[{'cast_id': 19, 'character': 'Michael McManus...",629,"[{'id': 3703, 'name': 'law'}, {'id': 5493, 'na...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",19/07/1995,23341568,Released,8.1,3334.0
Mighty Aphrodite,"[{'cast_id': 1, 'character': 'Lenny', 'credit_...",11448,"[{'id': 549, 'name': 'prostitute'}, {'id': 239...",15000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",13/09/1995,6700000,Released,6.7,145.0
Friday,"[{'cast_id': 1, 'character': 'Craig Jones', 'c...",10634,"[{'id': 897, 'name': 'rap music'}, {'id': 970,...",3500000,"[{'id': 35, 'name': 'Comedy'}]",26/04/1995,28215918,Released,7.0,513.0
...,...,...,...,...,...,...,...,...,...,...
Phoenix Forgotten,"[{'cast_id': 2, 'character': 'Sophie', 'credit...",443319,"[{'id': 163053, 'name': 'found footage'}]",2800000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",21/04/2017,3600000,Released,5.7,52.0
Lowriders,"[{'cast_id': 4, 'character': 'Miguel', 'credit...",333384,"[{'id': 2679, 'name': 'artist'}, {'id': 5301, ...",916000,"[{'id': 18, 'name': 'Drama'}]",28/04/2017,2403885,Released,7.0,20.0
Heavy Traffic,"[{'cast_id': 2, 'character': 'Michael Corleone...",30593,"[{'id': 293, 'name': 'female nudity'}, {'id': ...",950000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",08/08/1973,1500000,Released,6.6,18.0
Bizim Aile,"[{'cast_id': 6, 'character': 'Yaşar', 'credit_...",220002,"[{'id': 4498, 'name': 'big family'}, {'id': 10...",65700,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",07/09/1975,214600,Released,7.5,2.0
Baahubali 2: The Conclusion,"[{'cast_id': 2, 'character': 'Amarendra Baahub...",350312,"[{'id': 4152, 'name': 'kingdom'}, {'id': 23708...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",27/04/2017,230000000,Released,6.7,161.0
Kabhi Alvida Naa Kehna,"[{'cast_id': 1, 'character': 'Dev Saran', 'cre...",14395,"[{'id': 596, 'name': 'adultery'}, {'id': 34094...",7400000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",11/08/2006,17000000,Released,6.1,45.0
The Beguiled,"[{'cast_id': 8, 'character': 'Corporal John Mc...",399019,"[{'id': 11518, 'name': 'sexual tension'}, {'id...",10500000,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",23/06/2017,25442939,Released,5.8,279.0
Baby Driver,"[{'cast_id': 9, 'character': 'Baby', 'credit_i...",339403,"[{'id': 642, 'name': 'robbery'}, {'id': 2076, ...",34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",28/06/2017,224511319,Released,7.2,2083.0
Rough Night,"[{'cast_id': 3, 'character': 'Jess Thayer', 'c...",397422,"[{'id': 416, 'name': 'miami'}, {'id': 10123, '...",20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",15/06/2017,45056771,Released,5.6,336.0
In the Forests of Siberia,"[{'cast_id': 1, 'character': '', 'credit_id': ...",395452,"[{'id': 18330, 'name': 'nature'}, {'id': 19074...",3500000,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",15/06/2016,1492523,Released,7.3,34.0
Cowboys & Angels,"[{'cast_id': 2, 'character': 'Shane Butler', '...",20148,"[{'id': 10183, 'name': 'independent film'}]",2000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",14/05/2003,33700,Released,5.9,10.0
Easy on the Eyes,"[{'cast_id': 13, 'character': 'Павел', 'credit...",260522,"[{'id': 3419, 'name': 'fanatic'}, {'id': 10330...",2153912,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",27/02/2014,4864560,Released,3.9,5.0
Despicable Me 3,"[{'cast_id': 0, 'character': 'Gru / Dru (voice...",324852,"[{'id': 190999, 'name': 'minions'}]",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",15/06/2017,1020063384,Released,6.2,2002.0
Rock Dog,"[{'cast_id': 3, 'character': 'Bodi (voice)', '...",333667,"[{'id': 953, 'name': 'guitar'}, {'id': 2487, '...",60000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",08/07/2016,9420546,Released,5.8,47.0
Paris Can Wait,"[{'cast_id': 4, 'character': 'Anne', 'credit_i...",375867,"[{'id': 187056, 'name': 'woman director'}]",5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",12/09/2016,6700000,Released,6.4,25.0
I Was a Teenage Werewolf,"[{'cast_id': 2, 'character': 'Tony Rivers', 'c...",43228,"[{'id': 1706, 'name': 'experiment'}, {'id': 10...",82000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",19/06/1957,2000000,Released,5.2,12.0
War for the Planet of the Apes,"[{'cast_id': 6, 'character': 'Caesar', 'credit...",281338,"[{'id': 818, 'name': 'based on novel'}, {'id':...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",11/07/2017,369907963,Released,6.7,1675.0
Kidnap,"[{'cast_id': 0, 'character': 'Karla McCoy', 'c...",293768,"[{'id': 456, 'name': 'mother'}, {'id': 641, 'n...",21000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",04/08/2017,24527158,Released,6.0,244.0
Valerian and the City of a Thousand Planets,"[{'cast_id': 7, 'character': 'Valerian', 'cred...",339964,"[{'id': 1370, 'name': 'shapeshifting'}, {'id':...",197471676,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",20/07/2017,90024292,Released,6.7,905.0
Fanaa,"[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...",8453,"[{'id': 1741, 'name': 'blindness and impaired ...",5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",26/05/2006,22175908,Released,6.7,53.0
Atomic Blonde,"[{'cast_id': 0, 'character': 'Lorraine Brought...",341013,"[{'id': 220, 'name': 'berlin'}, {'id': 470, 'n...",30000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",26/07/2017,90007945,Released,6.1,748.0
Dunkirk,"[{'cast_id': 56, 'character': 'Tommy', 'credit...",374720,"[{'id': 254, 'name': 'france'}, {'id': 966, 'n...",100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",19/07/2017,519876949,Released,7.5,2712.0
Gymkata,"[{'cast_id': 2, 'character': 'Jonathan Cabot',...",14570,"[{'id': 780, 'name': 'kung fu'}, {'id': 3436, ...",8500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",03/05/1985,5730596,Released,4.7,14.0
Transformers: The Last Knight,"[{'cast_id': 2, 'character': 'Cade Yeager', 'c...",335988,"[{'id': 10466, 'name': 'knight'}, {'id': 10607...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",21/06/2017,604942143,Released,6.2,1440.0
FC Venus,"[{'cast_id': 4, 'character': 'Anna', 'credit_i...",26147,"[{'id': 6075, 'name': 'sport'}, {'id': 10556, ...",2196531,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",30/12/2005,2411594,Released,5.6,10.0
The Dark Tower,"[{'cast_id': 9, 'character': 'Roland Deschain'...",353491,"[{'id': 75, 'name': 'gunslinger'}, {'id': 818,...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",03/08/2017,71000000,Released,5.7,688.0
The Emoji Movie,"[{'cast_id': 2, 'character': 'Gene (voice)', '...",378236,"[{'id': 207468, 'name': 'app'}, {'id': 229979,...",50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",28/07/2017,66913939,Released,5.8,327.0
Wind River,"[{'cast_id': 9, 'character': 'Cory Lambert', '...",395834,"[{'id': 570, 'name': 'rape'}, {'id': 1262, 'na...",11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",03/08/2017,184770205,Released,7.4,181.0
Sivaji: The Boss,"[{'cast_id': 14, 'character': 'Sivaji Arumugam...",24049,"[{'id': 5969, 'name': 'black money'}, {'id': 1...",12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",14/06/2007,19000000,Released,6.9,25.0
All at Once,"[{'cast_id': 3, 'character': 'Viktor', 'credit...",280422,"[{'id': 642, 'name': 'robbery'}, {'id': 231149...",750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",05/06/2014,3,Released,6.0,4.0

In [74]:
movies_keywords_cast = movies_keywords_cast[['id', 'revenue', 'movie budget', 'vote_average', 'vote_count', 'genres', 'cast', 'keywords']]

movies_keywords_cast

,id,revenue,movie budget,vote_average,vote_count,genres,cast,keywords
title,,,,,,,,
Toy Story,862,373554033,30000000,7.7,5415.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
Jumanji,8844,262797249,65000000,6.9,2413.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
Waiting to Exhale,31357,81452156,16000000,6.1,34.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
Heat,949,187436818,60000000,7.7,1886.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'id': 642, 'name': 'robbery'}, {'id': 703, '..."
Sudden Death,9091,64350171,35000000,5.5,174.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Darren Francis T...","[{'id': 949, 'name': 'terrorist'}, {'id': 1562..."
GoldenEye,710,352194034,58000000,6.6,1194.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'id': 701, 'name': 'cuba'}, {'id': 769, 'nam..."
The American President,9087,107879496,62000000,6.5,199.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'id': 833, 'name': 'white house'}, {'id': 84..."
Nixon,10858,13681765,44000000,7.1,72.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...","[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'id': 840, 'name': 'usa president'}, {'id': ..."
Cutthroat Island,1408,10017322,98000000,5.7,137.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'id': 911, 'name': 'exotic island'}, {'id': ..."
Casino,524,116112375,52000000,7.8,1343.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 4, 'character': ""Sam 'Ace' Rothst...","[{'id': 383, 'name': 'poker'}, {'id': 726, 'na..."
Sense and Sensibility,4584,135000000,16500000,7.2,364.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'id': 420, 'name': 'bowling'}, {'id': 818, '..."
Four Rooms,5,4300000,4000000,6.5,539.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'id': 612, 'name': 'hotel'}, {'id': 613, 'na..."
Ace Ventura: When Nature Calls,9273,212385533,30000000,6.1,1128.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'id': 409, 'name': 'africa'}, {'id': 1551, '..."
Money Train,11517,35431113,60000000,5.4,224.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'id': 380, 'name': 'brother brother relation..."
Get Shorty,8012,115101622,30250000,6.4,305.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...","[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'id': 395, 'name': 'gambling'}, {'id': 416, ..."
Assassins,9691,30303072,50000000,6.0,394.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'id': 271, 'name': 'competition'}, {'id': 44..."
Leaving Las Vegas,451,49800000,3600000,7.1,365.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'id': 30, 'name': 'individual'}, {'id': 549,..."
Now and Then,9263,27400000,12000000,6.6,91.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'id': 1228, 'name': '1970s'}, {'id': 5248, '..."
The City of Lost Children,902,1738611,18000000,7.6,308.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...","[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n..."
Twelve Monkeys,63,168840000,29500000,7.4,2470.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'id': 222, 'name': 'schizophrenia'}, {'id': ..."
Babe,9598,254134910,30000000,6.0,756.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'id': 3020, 'name': 'sheep'}, {'id': 4931, '..."
Dead Man Walking,687,39363635,11000000,7.3,350.0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 7, 'character': 'Sister Helen Pre...","[{'id': 378, 'name': 'prison'}, {'id': 570, 'n..."
Mortal Kombat,9312,122195920,18000000,5.4,452.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...","[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[{'id': 779, 'name': 'martial arts'}, {'id': 1..."
To Die For,577,21284514,20000000,6.7,177.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...","[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[{'id': 596, 'name': 'adultery'}, {'id': 1442,..."
How To Make An American Quilt,11861,23574130,10000000,6.5,38.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[{'id': 1334, 'name': 'wedding vows'}, {'id': ..."
Se7en,807,327311859,33000000,8.1,5915.0,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...","[{'cast_id': 17, 'character': 'Detective David...","[{'id': 476, 'name': 'self-fulfilling prophecy..."
Pocahontas,10530,346079773,55000000,6.7,1509.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...","[{'cast_id': 1, 'character': 'Pocahontas (voic...","[{'id': 1463, 'name': 'culture clash'}, {'id':..."
The Usual Suspects,629,23341568,6000000,8.1,3334.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'cast_id': 19, 'character': 'Michael McManus...","[{'id': 3703, 'name': 'law'}, {'id': 5493, 'na..."
Mighty Aphrodite,11448,6700000,15000000,6.7,145.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 1, 'character': 'Lenny', 'credit_...","[{'id': 549, 'name': 'prostitute'}, {'id': 239..."
Friday,10634,28215918,3500000,7.0,513.0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'Craig Jones', 'c...","[{'id': 897, 'name': 'rap music'}, {'id': 970,..."
...,...,...,...,...,...,...,...,...
Phoenix Forgotten,443319,3600000,2800000,5.7,52.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'cast_id': 2, 'character': 'Sophie', 'credit...","[{'id': 163053, 'name': 'found footage'}]"
Lowriders,333384,2403885,916000,7.0,20.0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 4, 'character': 'Miguel', 'credit...","[{'id': 2679, 'name': 'artist'}, {'id': 5301, ..."
Heavy Traffic,30593,1500000,950000,6.6,18.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 2, 'character': 'Michael Corleone...","[{'id': 293, 'name': 'female nudity'}, {'id': ..."
Bizim Aile,220002,214600,65700,7.5,2.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[{'cast_id': 6, 'character': 'Yaşar', 'credit_...","[{'id': 4498, 'name': 'big family'}, {'id': 10..."
Baahubali 2: The Conclusion,350312,230000000,18000000,6.7,161.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'cast_id': 2, 'character': 'Amarendra Baahub...","[{'id': 4152, 'name': 'kingdom'}, {'id': 23708..."
Kabhi Alvida Naa Kehna,14395,17000000,7400000,6.1,45.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 1, 'character': 'Dev Saran', 'cre...","[{'id': 596, 'name': 'adultery'}, {'id': 34094..."
The Beguiled,399019,25442939,10500000,5.8,279.0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...","[{'cast_id': 8, 'character': 'Corporal John Mc...","[{'id': 11518, 'name': 'sexual tension'}, {'id..."
Baby Driver,339403,224511319,34000000,7.2,2083.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 9, 'character': 'Baby', 'credit_i...","[{'id': 642, 'name': 'robbery'}, {'id': 2076, ..."
Rough Night,397422,45056771,20000000,5.6,336.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...","[{'cast_id': 3, 'character': 'Jess Thayer', 'c...","[{'id': 416, 'name': 'miami'}, {'id': 10123, '..."
In the Forests of Siberia,395452,1492523,3500000,7.3,34.0,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...","[{'cast_id': 1, 'character': '', 'credit_id': ...","[{'id': 18330, 'name': 'nature'}, {'id': 19074..."
Cowboys & Angels,20148,33700,2000000,5.9,10.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 2, 'character': 'Shane Butler', '...","[{'id': 10183, 'name': 'independent film'}]"
Easy on the Eyes,260522,4864560,2153912,3.9,5.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...","[{'cast_id': 13, 'character': 'Павел', 'credit...","[{'id': 3419, 'name': 'fanatic'}, {'id': 10330..."
Despicable Me 3,324852,1020063384,80000000,6.2,2002.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...","[{'cast_id': 0, 'character': 'Gru / Dru (voice...","[{'id': 190999, 'name': 'minions'}]"
Rock Dog,333667,9420546,60000000,5.8,47.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...","[{'cast_id': 3, 'character': 'Bodi (voice)', '...","[{'id': 953, 'name': 'guitar'}, {'id': 2487, '..."
Paris Can Wait,375867,6700000,5000000,6.4,25.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'cast_id': 4, 'character': 'Anne', 'credit_i...","[{'id': 187056, 'name': 'woman director'}]"
I Was a Teenage Werewolf,43228,2000000,82000,5.2,12.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...","[{'cast_id': 2, 'character': 'Tony Rivers', 'c...","[{'id': 1706, 'name': 'experiment'}, {'id': 10..."
War for the Planet of the Apes,281338,369907963,152000000,6.7,1675.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...","[{'cast_id': 6, 'character': 'Caesar', 'credit...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
Kidnap,293768,24527158,21000000,6.0,244.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...","[{'cast_id': 0, 'character': 'Karla McCoy', 'c...","[{'id': 456, 'name': 'mother'}, {'id': 641, 'n..."
Valerian and the City of a Thousand Planets,339964,90024292,197471676,6.7,905.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","[{'cast_id': 7, 'character': 'Valerian', 'cred...","[{'id': 1370, 'name': 'shapeshifting'}, {'id':..."
Fanaa,8453,22175908,5300000,6.7,53.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...","[{'id': 1741, 'name': 'blindness and impaired ..."
Atomic Blonde,341013,90007945,30000000,6.1,748.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'cast_id': 0, 'character': 'Lorraine Brought...","[{'id': 220, 'name': 'berlin'}, {'id': 470, 'n..."
Dunkirk,374720,519876949,100000000,7.5,2712.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 56, 'character': 'Tommy', 'credit...","[{'id': 254, 'name': 'france'}, {'id': 966, 'n..."
Gymkata,14570,5730596,8500000,4.7,14.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 2, 'character': 'Jonathan Cabot',...","[{'id': 780, 'name': 'kung fu'}, {'id': 3436, ..."
Transformers: The Last Knight,335988,604942143,260000000,6.2,1440.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[{'id': 10466, 'name': 'knight'}, {'id': 10607..."
FC Venus,26147,2411594,2196531,5.6,10.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'cast_id': 4, 'character': 'Anna', 'credit_i...","[{'id': 6075, 'name': 'sport'}, {'id': 10556, ..."
The Dark Tower,353491,71000000,60000000,5.7,688.0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...","[{'cast_id': 9, 'character': 'Roland Deschain'...","[{'id': 75, 'name': 'gunslinger'}, {'id': 818,..."
The Emoji Movie,378236,66913939,50000000,5.8,327.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[{'cast_id': 2, 'character': 'Gene (voice)', '...","[{'id': 207468, 'name': 'app'}, {'id': 229979,..."
Wind River,395834,184770205,11000000,7.4,181.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'cast_id': 9, 'character': 'Cory Lambert', '...","[{'id': 570, 'name': 'rape'}, {'id': 1262, 'na..."
Sivaji: The Boss,24049,19000000,12000000,6.9,25.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'cast_id': 14, 'character': 'Sivaji Arumugam...","[{'id': 5969, 'name': 'black money'}, {'id': 1..."
All at Once,280422,3,750000,6.0,4.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[{'cast_id': 3, 'character': 'Viktor', 'credit...","[{'id': 642, 'name': 'robbery'}, {'id': 231149..."

In [ ]:
#to-do: delete duplicates, try and clean arrays into readible format
#https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/