data import

In [115]:
import pandas as pd
from IPython.display import display

movies_metadata = pd.read_csv(".\movies_metadata.csv", dtype={'vote_average': float}, low_memory=False)
keywords = pd.read_csv(".\keywords.csv", low_memory=False)

#movies_metadata['id']= movies_metadata['id'].astype(int)


#vote_average is user score from tmdb

#dropping columns we don't want
movies_metadata = movies_metadata.drop(['adult', 'belongs_to_collection', 'homepage', 'original_language','spoken_languages', 'original_title', 'overview', 'poster_path', 'production_countries', 'tagline', 'video' ], axis=1)

#movies_metadata.columns=['movie budget', 'genres', 'id', 'imdb_id', 'popularity', 'production_companies', 'release_data', 'revenue', 'runtime', 'status', 'title', 'vote_average', 'vote_count']

movies_metadata = movies_metadata[movies_metadata['movie budget']!=0]
movies_metadata = movies_metadata[movies_metadata['vote_average']!=0]
movies_metadata = movies_metadata[movies_metadata['revenue']!=0]
movies_metadata = movies_metadata[movies_metadata['status']=='Released']
movies_metadata = movies_metadata[movies_metadata['production_companies']!='[]']

movies_keywords = movies_metadata.merge(keywords, left_index=True, right_index=True)

movies_keywords.tail()

,movie budget,genres,id_x,imdb_id,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,id_y,keywords
45265,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",265189,tt2121382,12.165685,"[{'name': 'Motlys', 'id': 2783}, {'name': 'Cop...",15/08/2014,1359497.0,118.0,Released,Force Majeure,6.8,255.0,57382,[]
45381,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",264269,tt2400314,0.217441,"[{'name': 'Lyuksor', 'id': 21946}]",13/03/2014,320395.0,90.0,Released,Apartment 18,4.4,4.0,72663,[]
45399,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",280422,tt3805180,0.201582,"[{'name': 'Кинокомпания «Lunapark»', 'id': 420...",05/06/2014,3.0,0.0,Released,All at Once,6.0,4.0,6436,"[{'id': 4040, 'name': 'space mission'}, {'id':..."
45401,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",240789,tt1197626,0.436028,"[{'name': 'Central Partnership', 'id': 9342}, ...",09/10/2009,50656.0,110.0,Released,The Miracle,6.3,3.0,78475,[]
45412,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",63281,tt1718881,0.121844,"[{'name': 'Profit', 'id': 21163}]",30/09/2010,1268793.0,107.0,Released,Pro Lyuboff,4.0,3.0,76012,[]